body.status-page {
    background-color: #f5f5f5;
    color: #333333;
        padding-top: 0;
    }
p, strong { color: #333333 !important; }
.reds { color: #f54f4f !important; }
.blues { color: #3498db !important; }
.greens { color: #6dcf04 !important; }
.yellows { color: #f7ca18 !important; }
.oranges { color: #ff8800 !important; }
.greys { color: #888888 !important; }
.metrics { color: #0dccc0 !important; }
.links { color: #064b99 !important; }

/**
 * Banner background
 */
.app-banner {
    background-color: #ffffff !important;
}

.app-banner-padding {
    padding: 15px 0 !important;
}

/**
 * Alert overrides.
 */
.alert {
    background-color: #f7ca18;
    border-color: #deb515;
    color: white;
}
.alert.alert-success {
    background-color: #6dcf04;
    border-color: #62ba03;
    color: white;
}
.alert.alert-info {
    background-color: #3498db;
    border-color: #2e88c5;
    color: white;
}
.alert.alert-danger {
    background-color: #f54f4f;
    border-color: #dc4747;
    color: white;
}

/**
 * Button Overrides
 */
.btn.links {
    color: #ac8d10;
}
.btn.btn-success {
    background-color: #6dcf04;
    border-color: #62ba03;
    color: white;
}
.btn.btn-success.links {
    color: #4c9002;
}
.btn.btn-success.btn-outline {
    background-color: transparent;
    border-color: #6dcf04;
    color: #6dcf04;
}
.btn.btn-success.btn-outline:hover {
    background-color: #6dcf04;
    border-color: #62ba03;
    color: white;
}
.btn.btn-info {
    background-color: #3498db;
    border-color: #2e88c5;
    color: white;
}
.btn.btn-info.links {
    color: #246a99;
}
.btn.btn-danger {
    background-color: #f54f4f;
    border-color: #dc4747;
    color: white;
}
.btn.btn-danger.links {
    color: #ab3737;
}

/**
 * Background fills Overrides
 */
.component {
    background-color: #ffffff;
    border-color: #e5e5e5;
}
.sub-component {
    background-color: #ffffff;
    border-color: #e5e5e5;
}
.incident {
    background-color: #ffffff;
    border-color: #e5e5e5;
}
.status-icon {
    background-color: #ffffff;
    border-color: #e5e5e5;
}
.panel.panel-message:before {
    border-left-color: #ffffff !important;
    border-right-color: #ffffff !important;
}
.panel.panel-message:after {
    border-left-color: #ffffff !important;
    border-right-color: #ffffff !important;
}
.footer a {
    color: #333333;
}
iframe.dienstplan
{
    width: 100%;
    height: 100% ;
}
p.center
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
